# Dependencies
node_modules
backend/node_modules
buku-tamu/node_modules

# Build outputs
dist
buku-tamu/dist

# Environment variables
.env
backend/.env

# Logs
*.log

# Database
backend/bukutamu.db

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel